@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap%27');
* {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  letter-spacing: 3px;
  font-size: 55px;
  display: flex;
  align-items: center;
  font-style: italic;
  color: white;
  text-shadow: 2px 0 #F00, -2px 0 #F00, 0 2px #F00, 0 -2px #F00,
               1px 1px #F00, -1px -1px #F00, 1px -1px #F00, -1px 1px #F00;
}

.gif {
  width: 700px;
  height: 700px;
  object-fit: contain;
}

.btn {
  background-color: transparent;
  color: black;
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 150px;
  max-width: 150px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border: 2px solid black;
}

.item h2 {
  font-weight: bold;
  text-transform: capitalize;
}

.gridStats {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.statTitle {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

.statValue {
  display: flex;
  flex-direction: column;
  align-items: center;
}